<%- include('html/_head') %>

    <main class="container text-center mt-3">
        <h1>Table</h1>

        <% if (listDonations) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Message</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < listDonations.length; i++) { %>
                        <tr>
                            <th scope="row">
                                <%=listDonations[i].coin%>
                            </th>
                            <td><%=listDonations[i].amount%></td>
                            <td><%=listDonations[i].description%></td>
                            <td><%=listDonations[i].created_at%></td>
                        </tr>
                        <%};%>
                </tbody>
            </table>
            <% } else { %>
                <p>Aun no se realizaron donaciones.</p>
                <% } %>
    </main>

    <%- include('html/_foot') %>